body{
                background-color: #D4E6F1
              }
      h1.hometown       {
                     margin: auto;
                     width: 60%;
                     padding: 10px;
                     color:DodgerBlue
                   }
    p.bridge {
           text-align:left;
           color:MediumSeaGreen;
          }
    h2.bridge{
           color:Red;
           text-align:left;
      }
   h2.mills{
             color:MediumSeaGreen;
           }
  p.mills{
           color:orange;
        }
  h2.hills{
           color:SlateBlue;
         }
  p.hills{
          color:violet;
         }
                    
         ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #D4E6F1  ;
           }

         li {
              float:left;
            }

          li a {
                display: block;
                color: "SlateBlue";
                text-align:center;
                padding: 14px 16px;
                text-decoration: none;
               }

          li a:hover {
                background-color: #D4E6F1  ;
                }
           
     footer{
             color:red;
           }        
       